body{
	background-image: url(nature.jpg);background-repeat: no-repeat;
     background-attachment: fixed;
     
   background-position: center;"
}
h1{
	color: white;
}

	div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;

}
.menu_simple ul {

    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;


}

.menu_simple ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
}
